* {
    box-sizing: border-box;
}

html {
    background-color: #0E0D0D;
    margin: auto;
}

body {
    width: 90%;
    color: #fff;
    margin: 5em auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.4;
    background-color: #0E0D0D;
}

code {
    background-color: #0E0D0D;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

article {
    border: #2A2626 0.2em solid;
    padding: 1vw;
    margin-bottom: 1em;
    margin-left: 15%;
    margin-right: 5%;
    position: relative;
}

h1 {
    font-size: 2vw,
}

#menu {
    float: left;
    margin-right: 5vw;
    border: #0E0D0D 0.5em dashed;
    text-align: left;
    width: 12%;
    height: 60%;
    padding-left: 0.5em;
    position: relative;
}

#nav1 {
    border: #1C1919 0.5em solid;
    padding: 1em;
    margin-bottom: 1vw;
    margin-left: 15%;
    margin-right: 5%;
    position: relative;
}

#a1 {
    float: right;
}

.article-header {
    border: #383232 0.2em solid;
    padding: 0.5em;
    margin-bottom: 1em;
}

.article-footer {
    float: bottom;
    padding: 0.2em;
    position: relative;
    margin-top: 0.2em;
}

footer {
    border: #0E0D0D 0.1em solid;
    float: bottom;
    padding: 2px;
    margin-top: 5em;
    font-weight: bold;
    color: #383232;
}

.code-block {
    color: #fff;
    text-align: left;
    padding: 0.5em;
    border: 0.2em #fff solid;
    overflow: auto;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 1028px) {
    /* For mobile phones: */
    #menu, .page-footer {
      width: 100%;
      float: none;
    }

    #menu {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
        width: 80%;
    }
}